<main>
    <section class="event-list-section">
      <header>
        <h1>СОЗДАТЬ МЕРОПРИЯТИЕ</h1>
      </header>
  
      <section class="events-container">
        <p class="inter-guest">ДОБАВЬТЕ ГОСТЕЙ В СПИСОК:</p>
        <table>
            <thead>ГОСТИ</thead>
            <tbody>
              <tr *ngFor="let guest of guests">
                {{ guest }}
              </tr>
              <tr>
                <td>
                  <input [(ngModel)]="currentGuest" placeholder="Введите данные гостя" (keydown.enter)="addGuest()" />
                </td>
              </tr>
            </tbody>
        </table>

        <section class="btn-continue">
          <button (click)="finish()">СОХРАНИТЬ</button>
        </section>
      </section>
      
      <footer> 
        <button class="go-to-step1" [class.active]="activeStep === 1" (click)="goBack()">1</button>
        <button class="go-to-step2" [class.active]="activeStep === 2">2</button>
      </footer>
    </section>
  </main>